<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body style="background-color: #c8e6e0">
<div class="btn-group">
    <button class="GFG"
            onclick="window.location.href = 'https://localhost:443/show/teachers';">
        TEACHERS
    </button>
    <button class="GFG"
            onclick="window.location.href = 'https://localhost:443/show/students';">
        STUDENTS
    </button>
    <button class="GFG"
            onclick="window.location.href = 'https://localhost:443/show/courses';">
        COURSES
    </button>
    <button class="GFG"
            onclick="window.location.href = 'https://localhost:443/enrollments';">
        ENROLLMENTS
    </button>
    <button class="GFG"
            onclick="window.location.href = 'https://localhost:443/register/students';">
        REGISTER STUDENTS
    </button>
    <button class="GFG"
            onclick="window.location.href = 'https://localhost:443/register/teachers';">
        REGISTER TEACHERS
    </button>
    <button class="GFG"
            onclick="window.location.href = 'https://localhost:443/logout';">
        LOGOUT
    </button>

</div>
</body>
</html>