<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add CSS and JS to Thymeleaf</title>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body style="background-color: #c8e6e0" class="all-classes-container">
<div class="btn-group">
    <button class="GFG"
            onclick="window.location.href = 'https://localhost:443/index';">
        RETURN TO MAIN
    </button>
</div>
<table class="all-table">
    <thread class="thread-color">
        <th scope="row">id</th>
        <th scope="row">name</th>
        <th scope="row">age</th>
    </thread>
    <tbody>
    <tr th:each="StudentResponse: ${students}">
        <td th:text="${StudentResponse.id}"></td>
        <td th:text="${StudentResponse.name}"></td>
        <td th:text="${StudentResponse.age}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>